.feedback-form {
  margin: 0 auto;
  padding: 24px;
  max-width: 408px;
}
.feedback-form-label {
  display: block;
  margin-bottom: 8px;
  max-width: 360px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.feedback-form-label:last-of-type {
  margin-bottom: 16px;
}
.feedback-form-input,
.feedback-form-comment {
  width: 100%;
  outline: transparent;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  transition: border ease-in-out 500ms;
}
.feedback-form-input:focus,
.feedback-form-comment:focus {
  border: 1px solid #000;
}
.feedback-form-input:active,
.feedback-form-comment:active {
  border: 1px solid #808080;
}
.feedback-form-comment {
  resize: none;
  height: 80px;
}
.feedback-form-btn {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background-color ease-in-out 500ms;
}
.feedback-form-btn:hover,
.feedback-form-btn:focus {
  background-color: #6c8cff;
}
