/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./back-link.css');
@import url('./container.css');
@import url('./header.css');

/* Sections style */
@import url('./gallery.css');
